.button_tel {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: var(--inputs-border-width);
  top: var(--inputs-border-width);

}


.button_tel.button__text{
  font-size: medium;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
 
}